.banner {
   background: #009900;
}

#navbar ul li.selected {
   background: #009900;
   color: white;
}

#navbar ul li.selected a {
   color: white;
}

a {
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}